body		{font-family: µ¸¿ò;font-size:9pt;color:gray margin-top: 0px;
	margin-top: 0px;
    margin-right: 0px; 
	margin-bottom: 0px;
	margin-left: 0px;
    line-height:15pt;	
    padding-top: 0px;
	padding-right: 0px; 
	padding-bottom: 0px;
	padding-left: 0px; 
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	scrollbar-arrow-color:#999999;
	scrollbar-base-color:#FBFAF5;
	scrollbar-shadow-color:#999999;
	scrollbar-face-color:#E6E6DD;
	scrollbar-highlight-color:#cococo;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-3dlight-color:#C0C0C0;}

A:link		    {font-size:9pt;font-family:µ¸¿ò;color:#FFFFFF;text-decoration: none;}
A:visited		{font-size:9pt;font-family:µ¸¿ò;color:#FFFFFF;text-decoration: none;}
A:active		{font-size:9pt;font-family:µ¸¿ò;color:#FFFFFF;text-decoration: none;}
A:hover  		{font-size:9pt; font-family:µ¸¿ò; color:#FFFFFF; text-decoration:underline;}

td		{line-height:15pt;, font-family:µ¸¿ò;font-size:9pt;color:#666666;margin 0 0 0 0}


.line01 
{
	border-left : 1px solid #E6E6E6;
	border-right : 1px solid #E6E6E6;
	border-bottom : 1px solid #E6E6E6;
	border-top : 1px solid #E6E6E6;
}

.branchtxt {
	font-family: "µ¸¿ò";
	font-size: 11px;
	line-height: 10pt;
	color: #656565;
}

.txt {  font-family: "µ¸¿ò"; font-size: 12px; color: #656565;}

.branch2 {  font-size: 9pt;  color:#00506A; BACKGROUND: #ffffff; border: #999999 1px solid }

.box
{
	border : 1px solid #999999;
	background-color : #F9F9F9;
	font-size: 9pt;  color:#333333;
}

.copyright {
	font-family: "µ¸¿ò";
	font-size: 12px;
	line-height: 13pt;
	color: #656565;
}

/********************************************************************************************/
/* table  Style    																		*/
/********************************************************************************************/
/* table line  */
.TBC1   { background-color: #DFDFDF;color: #505964; font-face:µ¸¿ò; font-size : 9pt;}
/* table head  */
.TBC2   { background-color: #F2F5FB;color: #505964; font-face:µ¸¿ò; font-size : 9pt;}
/* sub table head  */
.TBC3   { background-color: #C4E9E9;color: #215959; font-face:µ¸¿ò; font-size : 9pt;}
/* sub table cont  */
.TBC4   { background-color: #EBF7F7;color: #026756; font-face:µ¸¿ò; font-size : 9pt;}
/* sub table line  */
.TBC5   { background-color: #90DACD;color: #004539; font-face:µ¸¿ò; font-size : 9pt;}
/* ÀÚ¼Ò¼­ */
.TBC99   { background-color: #ffffff;color: #505964; font-face:½Å¸íÁ¶; font-size : 12pt;}

/*ÀÔ»ç Áö¿ø*/
.TBC6   { background-color: #C4D3DF;color: #363636; font-face:µ¸¿ò; font-size : 9pt;}



/* left back  */
.TBW   { background-color: #ffffff;color: #5252CA; font-face:µ¸¿ò; font-size : 9pt;}
/* gray back  */
.TBG   { background-color: #F9FBFE;color: #5252CA; font-face:µ¸¿ò; font-size : 9pt;}

/********************************************************************************************/
/* text  Style    																		*/
/********************************************************************************************/

/*	Çª¸¥ - point	*/
.point1 {font-face:Arial;  font-size : 9pt; color:#3C7CD1; font-weight : bold;}
/*	ÁÖÈ² - point	*/
.point2 {font-face:Arial;  font-size : 9pt; color:#FF6305;}
/*	¼³¸í	*/
.txt1 {font-face:Arial; font-size : 9pt; color:#00506A;}
/*	sub title	*/
.tit {font-face:Arial; font-size : 9pt; color:#00506A; font-weight : bold;}
/*	left title	*/
.lefttit {font-face:Arial; font-size : 9pt; color:#C0BBF0; font-weight : bold;}
/*	ÁÖÈ² - price	*/
.price {font-face:Arial; font-size : 9pt; color:#FE6400;}
/*	º¸¶ó - info	*/
.info {font-face:Arial; font-size : 9pt; color:#7B7DD6;}

/*	º¸¶ó	*/
.text_pp	{line-height:15pt;, font-family:µ¸¿ò;font-size:9pt;color:#A8459F;margin 0 0 0 0}
/*	Èò»ö	*/
.text_ww	{line-height:15pt;, font-family:µ¸¿ò;font-size:9pt;color:#ffffff;margin 0 0 0 0}


/********************************************************************************************/
/* Color  Style    																		*/
/********************************************************************************************/

.01White_bold			{font-family:µ¸¿ò;font-size:9pt;color:#FFFFFF;font-weight :bold;}
.01black_bold			{font-family:µ¸¿ò;font-size:9pt;color:#000000;}
.red					{font-family:µ¸¿ò;font-size:9pt;color:#FF0000;}
.crimson				{font-family:µ¸¿ò;font-size:9pt;color:#DC143C;}
.firebrick				{font-family:µ¸¿ò;font-size:9pt;color:#B22222;}
.maroon					{font-family:µ¸¿ò;font-size:9pt;color:#800000;}
.darkred				{font-family:µ¸¿ò;font-size:9pt;color:#8B0000;}
.brown					{font-family:µ¸¿ò;font-size:9pt;color:#A52A2A;}
.sienna					{font-family:µ¸¿ò;font-size:9pt;color:#A0522D;}
.saddlebrown			{font-family:µ¸¿ò;font-size:9pt;color:#8B4513;}
.indianred				{font-family:µ¸¿ò;font-size:9pt;color:#CD5C5C;}
.rosybrown				{font-family:µ¸¿ò;font-size:9pt;color:#BC8F8F;}
.lightcoral				{font-family:µ¸¿ò;font-size:9pt;color:#F08080;}
.salmon					{font-family:µ¸¿ò;font-size:9pt;color:#FA8072;}
.darksalmon				{font-family:µ¸¿ò;font-size:9pt;color:#E9967A;}
.coral					{font-family:µ¸¿ò;font-size:9pt;color:#FF7F50;}
.tomato					{font-family:µ¸¿ò;font-size:9pt;color:#FF6347;}
.sandybrown				{font-family:µ¸¿ò;font-size:9pt;color:#F4A460;}
.lightsalmon			{font-family:µ¸¿ò;font-size:9pt;color:#FFA07A;}
.chocolate				{font-family:µ¸¿ò;font-size:9pt;color:#CD853F;}
.orangered				{font-family:µ¸¿ò;font-size:9pt;color:#FF4500;}
.orange					{font-family:µ¸¿ò;font-size:9pt;color:#FFA500;}
.darkorange				{font-family:µ¸¿ò;font-size:9pt;color:#FF8C00;}
.tan					{font-family:µ¸¿ò;font-size:9pt;color:#D2B48C;}
.peachpuff				{font-family:µ¸¿ò;font-size:9pt;color:#FFDAB9;}
.bisque					{font-family:µ¸¿ò;font-size:9pt;color:#FFE4C4;}
.moccasin				{font-family:µ¸¿ò;font-size:9pt;color:#FFE4B5;}
.navajowhite			{font-family:µ¸¿ò;font-size:9pt;color:#FFDEAD;}
.wheat					{font-family:µ¸¿ò;font-size:9pt;color:#F5DEB3;}
.burlywood				{font-family:µ¸¿ò;font-size:9pt;color:#DEB887;}
.darkgoldenrod			{font-family:µ¸¿ò;font-size:9pt;color:#B8860B;}
.goldenrod				{font-family:µ¸¿ò;font-size:9pt;color:#DAA520;}
.gold					{font-family:µ¸¿ò;font-size:9pt;color:#FFD700;}
.yellow					{font-family:µ¸¿ò;font-size:9pt;color:#FFFF00;}
.lightgoldenrodyellow	{font-family:µ¸¿ò;font-size:9pt;color:#FAFAD2;}
.palegoldenrod	        {font-family:µ¸¿ò;font-size:9pt;color:#EEE8AA;}
.khaki	                {font-family:µ¸¿ò;font-size:9pt;color:#F0E68C;}
.darkkhaki	            {font-family:µ¸¿ò;font-size:9pt;color:#BDB76B;}
.lawngreen	            {font-family:µ¸¿ò;font-size:9pt;color:#7CFC00;}
.greenyellow	        {font-family:µ¸¿ò;font-size:9pt;color:#ADFF2F;}
.chartreuse	            {font-family:µ¸¿ò;font-size:9pt;color:#7FFF00;}
.lime	                {font-family:µ¸¿ò;font-size:9pt;color:#00FF00;}
.limegreen	            {font-family:µ¸¿ò;font-size:9pt;color:#32CD32;}
.yellowgreen        	{font-family:µ¸¿ò;font-size:9pt;color:#9ACD32;}
.olive	                {font-family:µ¸¿ò;font-size:9pt;color:#808000;}
.olivedrab             	{font-family:µ¸¿ò;font-size:9pt;color:#6B8E23;}
.darkolivegreen	        {font-family:µ¸¿ò;font-size:9pt;color:#556B2F;}
.forestgreen	        {font-family:µ¸¿ò;font-size:9pt;color:#228B22;}
.darkgreen            	{font-family:µ¸¿ò;font-size:9pt;color:#006400;}
.green              	{font-family:µ¸¿ò;font-size:9pt;color:#008000;}
.seagreen				{font-family:µ¸¿ò;font-size:9pt;color:#2E8B57;}
.mediumseagreen			{font-family:µ¸¿ò;font-size:9pt;color:#3CB371;}
.darkseagreen			{font-family:µ¸¿ò;font-size:9pt;color:#8FBC8F;}
.lightgreen				{font-family:µ¸¿ò;font-size:9pt;color:#90EE90;}
.palegreen				{font-family:µ¸¿ò;font-size:9pt;color:#98FB98;}
.springgreen			{font-family:µ¸¿ò;font-size:9pt;color:#00FF7F;}
.mediumspringgreen		{font-family:µ¸¿ò;font-size:9pt;color:#00FA9A;}
.teal					{font-family:µ¸¿ò;font-size:9pt;color:#008080;}
.darkcyan				{font-family:µ¸¿ò;font-size:9pt;color:#008B8B;}
.lightseagreen			{font-family:µ¸¿ò;font-size:9pt;color:#20B2AA;}
.mediumaquamarine		{font-family:µ¸¿ò;font-size:9pt;color:#66CDAA;}
.cadetblue				{font-family:µ¸¿ò;font-size:9pt;color:#5F9EA0;}
.steelblue				{font-family:µ¸¿ò;font-size:9pt;color:#4682B4;}
.aquamarine				{font-family:µ¸¿ò;font-size:9pt;color:#7FFFD4;}
.powderblue				{font-family:µ¸¿ò;font-size:9pt;color:#B0E0E6;}
.paleturquoise			{font-family:µ¸¿ò;font-size:9pt;color:#AFEEEE;}
.lightblue				{font-family:µ¸¿ò;font-size:9pt;color:#ADD8E6;}
.lightsteelblue			{font-family:µ¸¿ò;font-size:9pt;color:#B0C4DE;}
.skyblue				{font-family:µ¸¿ò;font-size:9pt;color:#87CEEB;}
.lightskyblue			{font-family:µ¸¿ò;font-size:9pt;color:#87CEFA;}
.mediumturquoise		{font-family:µ¸¿ò;font-size:9pt;color:#48D1CC;}
.turquoise				{font-family:µ¸¿ò;font-size:9pt;color:#40E0D0;}
.darkturquoise			{font-family:µ¸¿ò;font-size:9pt;color:#00CED1;}
.aqua					{font-family:µ¸¿ò;font-size:9pt;color:#00FFFF;}
.cyan					{font-family:µ¸¿ò;font-size:9pt;color:#00FFFF;}
.deepskyblue			{font-family:µ¸¿ò;font-size:9pt;color:#00BFFF;}
.dodgerblue				{font-family:µ¸¿ò;font-size:9pt;color:#1E90FF;}
.cornflowerblue			{font-family:µ¸¿ò;font-size:9pt;color:#6495ED;}
.royalblue				{font-family:µ¸¿ò;font-size:9pt;color:#4169E1;}
.blue					{font-family:µ¸¿ò;font-size:9pt;color:#0000FF;}
.mediumblue				{font-family:µ¸¿ò;font-size:9pt;color:#0000CD;}
.navy					{font-family:µ¸¿ò;font-size:9pt;color:#000080;}
.darkblue				{font-family:µ¸¿ò;font-size:9pt;color:#00008B;}
.midnightblue			{font-family:µ¸¿ò;font-size:9pt;color:#191970;}
.darkslateblue			{font-family:µ¸¿ò;font-size:9pt;color:#483D8B;}
.slateblue				{font-family:µ¸¿ò;font-size:9pt;color:#6A5ACD;}
.mediumslateblue		{font-family:µ¸¿ò;font-size:9pt;color:#7B68EE;}
.mediumpurple			{font-family:µ¸¿ò;font-size:9pt;color:#9370DB;}
.darkorchid				{font-family:µ¸¿ò;font-size:9pt;color:#9932CC;}
.darkviolet				{font-family:µ¸¿ò;font-size:9pt;color:#9400D3;}
.blueviolet				{font-family:µ¸¿ò;font-size:9pt;color:#8A2BE2;}
.mediumorchid			{font-family:µ¸¿ò;font-size:9pt;color:#BA55D3;}
.plum					{font-family:µ¸¿ò;font-size:9pt;color:#DDA0DD;}
.lavender				{font-family:µ¸¿ò;font-size:9pt;color:#E6E6FA;}
.thistle				{font-family:µ¸¿ò;font-size:9pt;color:#D8BFD8;}
.orchid					{font-family:µ¸¿ò;font-size:9pt;color:#DA70D6;}
.violet					{font-family:µ¸¿ò;font-size:9pt;color:#EE82EE;}
.indigo					{font-family:µ¸¿ò;font-size:9pt;color:#4B0082;}
.darkmagenta			{font-family:µ¸¿ò;font-size:9pt;color:#8B008B;}
.purple					{font-family:µ¸¿ò;font-size:9pt;color:#800080;}
.mediumvioletred		{font-family:µ¸¿ò;font-size:9pt;color:#C71585;}
.deeppink				{font-family:µ¸¿ò;font-size:9pt;color:#FF1493;}
.fuchsia				{font-family:µ¸¿ò;font-size:9pt;color:#FF00FF;}
.magenta				{font-family:µ¸¿ò;font-size:9pt;color:#FF00FF;}
.hotpink				{font-family:µ¸¿ò;font-size:9pt;color:#FF69B4;}
.palevioletred			{font-family:µ¸¿ò;font-size:9pt;color:#DB7093;}
.lightpink				{font-family:µ¸¿ò;font-size:9pt;color:#FFB6C1;}
.pink					{font-family:µ¸¿ò;font-size:9pt;color:#FFC0CB;}
.mistyrose				{font-family:µ¸¿ò;font-size:9pt;color:#FFE4E1;}
.blanchedalmond			{font-family:µ¸¿ò;font-size:9pt;color:#FFEBCD;}
.lightyellow			{font-family:µ¸¿ò;font-size:9pt;color:#FFFFE0;}
.cornsilk				{font-family:µ¸¿ò;font-size:9pt;color:#FFF8DC;}
.antiquewhite			{font-family:µ¸¿ò;font-size:9pt;color:#FAEBD7;}
.papayawhip				{font-family:µ¸¿ò;font-size:9pt;color:#FFEFD5;}
.lemonchiffon			{font-family:µ¸¿ò;font-size:9pt;color:#FFFACD;}
.beige					{font-family:µ¸¿ò;font-size:9pt;color:#F5F5DC;}
.linen					{font-family:µ¸¿ò;font-size:9pt;color:#FAF0E6;}
.oldlace				{font-family:µ¸¿ò;font-size:9pt;color:#FDF5E6;}
.lightcyan				{font-family:µ¸¿ò;font-size:9pt;color:#E0FFFF;}
.aliceblue				{font-family:µ¸¿ò;font-size:9pt;color:#F0F8FF;}
.whitesmoke				{font-family:µ¸¿ò;font-size:9pt;color:#F5F5F5;}
.floralwhite			{font-family:µ¸¿ò;font-size:9pt;color:#FFFAF0;}
.mintcream				{font-family:µ¸¿ò;font-size:9pt;color:#F5FFFA;}
.ghostwhite				{font-family:µ¸¿ò;font-size:9pt;color:#F8F8FF;}
.honeydew				{font-family:µ¸¿ò;font-size:9pt;color:#F0FFF0;}
.seashell				{font-family:µ¸¿ò;font-size:9pt;color:#FFF5EE;}
.ivory					{font-family:µ¸¿ò;font-size:9pt;color:#FFFFF0;}
.azure					{font-family:µ¸¿ò;font-size:9pt;color:#F0FFFF;}
.snow					{font-family:µ¸¿ò;font-size:9pt;color:#FFFAFA;}
.white					{font-family:µ¸¿ò;font-size:9pt;color:#FFFFFF;}
.gainsboro				{font-family:µ¸¿ò;font-size:9pt;color:#DCDCDC;}
.lightgrey				{font-family:µ¸¿ò;font-size:9pt;color:#D3D3D3;}
.silver					{font-family:µ¸¿ò;font-size:9pt;color:#C0C0C0;}
.darkgray				{font-family:µ¸¿ò;font-size:9pt;color:#A9A9A9;}
.lightslategray			{font-family:µ¸¿ò;font-size:9pt;color:#778899;}
.slategray				{font-family:µ¸¿ò;font-size:9pt;color:#708090;}
.gray					{font-family:µ¸¿ò;font-size:9pt;color:#808080;}
.dimgray				{font-family:µ¸¿ò;font-size:9pt;color:#696969;}
.darkslategray			{font-family:µ¸¿ò;font-size:9pt;color:#2F4F4F;}
.black					{font-family:µ¸¿ò;font-size:9pt;color:#000000;}
